# Local Nest API (when running apps/api on port 3001):
# VITE_API_BASE_URL=http://localhost:3001

# Deployed API Gateway:
VITE_API_BASE_URL=https://oxwb0croja.execute-api.ap-southeast-1.amazonaws.com
